* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  list-style: none;
  align-items: inline;
  padding-left: 0;
  background-color: whitesmoke;
}

.sidebar h1 {
  text-align: center;
  background-color: #1b1b1b;
  color: whitesmoke;
  padding: 20px;
}

.sidebar ul,
li {
  margin-bottom: 30%;
  margin-top: 30%;
}

.sidebar i {
  padding-left: 10px;
  color: #1b1b1b;
}

.sidebar i:hover {
  background-color: #1b1b1b;
  color: whitesmoke;
  border-radius: 8px;
  padding: 12px;
}

.header {
  grid-area: header;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.principal {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 50px;
  padding: 20px;
  background-color: #eaeaea;
}

.cards {
  background-color: azure;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  grid-area: footer;
  background-color: #1b1b1b;
  color: white;
  padding: 20px;
  text-align: center;
}

img {
  height: 120px;
  width: 120px;
  align-items: center;
}
